<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <center>
  <table>
    <tr>
      <td><%= shortURL %></td><td><a href="<%= longURL %>"><%= longURL %></a> </td>
      </tr> <form method="POST" action="/urls/<%= shortURL %>">
        <input type="text" name="longURL" value="<%= longURL %>">
        <button>Update</button>
      </form>
      </table>
     
    </center>
</body>
</html>